@media all {

a:link {
    color: #226;
    text-decoration: none;
}

a:visited {
    color: #226;
    text-decoration: none;
}

a:active {
    text-decoration: bold;
}

a:hover {
    color: #907040;
    background: #ffffff;
    text-decoration: underline;
}

body {
    margin: 0;
    padding: 0;
}

div#page {
    margin: 0;
    padding: 0;
}

div#header {
    font-size: 110%;
    font-family: "Trebuchet MS";
    color: #227;
    background: #fff;
    margin: 0;
    padding: 0;
}

div#body {
    margin: 0;
    padding: 0;
}

div#main {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 10px;
    background: #eda;
}

div#footer {
    text-align: center;
    font-weight: bold;
    border-top: 5px solid #227;
    margin: 0;
    padding: 0;
}

td.header {
    padding: 0px;
    margin: 0px;
}

td.header_separator {
    background: #444;
}

div.page_menu {
    font-size: 10pt;
    font-weight: normal;
}

span.menu_line {
    font-size: 9pt;
    font-weight: normal;
    margin: 0px;
}

span.title {
    color: black;
    font-size: 14pt;
    font-weight: bold;
}

span.siten_bar {
    background: #8f8;
    margin: 0px;
    padding: 0px;
    font-size: 10pt;
    font-weight: bold;
}

table.monthly {
    border-collapse: collapse;
    border-top: 1px solid #663300;
    border-left: 1px solid #663300;
}

.monthly th {
    border-right: 1px solid #663300;
    border-bottom: 1px solid #663300;
}

.monthly td {
    border-right: 1px solid #663300;
    border-bottom: 1px solid #663300;
}

td.nknumber {
    text-align: right;
}

td.nkrate {
    text-align: right;
}

span.num_plus {
    color: black;
}

span.num_minus {
    color: red;
}

}