<td class="nknumber"><%= nknumber(zisseki.uriage - zennen.uriage) %></td>
<td class="nknumber"><%= nknumber((zisseki.siire + zisseki.sitenkan) -
                       (zennen.siire + zennen.sitenkan)) %></td>
